@model MvcApplicationAdvogados.EVENTOS

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>EVENTOS</legend>

    <div class="display-label">PROCESSOS</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PROCESSOS.Assunto)
    </div>

    <div class="display-label">Data</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Data)
    </div>

    <div class="display-label">ADVOGADOS</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ADVOGADOS.Nome)
    </div>

    <div class="display-label">HorasGastas</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HorasGastas)
    </div>

    <div class="display-label">Assunto</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Assunto)
    </div>

    <div class="display-label">Despesa</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Despesa)
    </div>

    <div class="display-label">DataRetorno</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataRetorno)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
