@model IEnumerable<MvcApplicationAdvogados.EVENTOS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table>
    <tr>
        <th>
            PROCESSOS
        </th>
        <th>
            Data
        </th>
        <th>
            ADVOGADOS
        </th>
        <th>
            HorasGastas
        </th>
        <th>
            Assunto
        </th>
        <th>
            Despesa
        </th>
        <th>
            DataRetorno
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PROCESSOS.Assunto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADVOGADOS.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HorasGastas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Assunto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Despesa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataRetorno)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
